body {
  font-family: "LatoWeb", sans-serif;
  color: white;
  height: 100%;
}

.header-image {
  max-width: 100%;
  height: auto;
}

header {
  background-image: url("images/background_main2.jpg");
  background-position: top center;
  background-size: cover;
  max-height: 1500px;
  padding: 50px 0 20px 0;
}

.logo__img {
  width: 120px;
  height: 80px;
}

.tagline {
  margin-top: 50px;
}

.tagline__main span {
  font-family: "LatoWebBold", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

span.tagline__second_word {
  font-size: 90px;
}

.tagline__extra {
  font-size: 40px;
  font-family: "LatoWebLight", sans-serif;
  line-height: 35px;
  margin-top: 80px;
}

.contact {
  margin: 120px 0 0 0;
  font-size: 20px;
  text-align: center;
}

.follow {
  width: 40%;
  margin: 0 auto;
}

.follow__img {
  width: 20px;
  height: 19px;
  cursor: pointer;
  display: inline-block;
}

.follow__img img {
  display: block;
  width: 100%;
  position: relative;
  top: 2px;
}
.follow__text {
  cursor: pointer;
  display: inline-block;
}

.follow__text a {
  color: white;
  font-weight: 300;
}

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  header {
    background-image: url("images/background_main4.jpg");
  }

  .tagline__main span {
    font-size: 40px;
  }

  span.tagline__second_word {
    font-size: 80px;
  }

  .tagline__extra {
    font-size: 30px;
  }
}

@media only screen and (max-width : 600px) {
  .tagline__main span {
    font-size: 40px;
    line-height: 45px;
  }

  span.tagline__second_word {
    font-size: 70px;
  }


}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  header {
    background-image: url("images/background_main5.jpg");
  }

  span.tagline__second_word {
    font-size: 50px;
  }

  .tagline__extra {
    font-size: 22px;
    line-height: 25px;
  }

  .tagline {
    margin-top: 90px;
  }

  .tagline__extra {
    margin-top: 50px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

@media (min-height: 760px) and (min-width: 1730px) {

}